:root {
    --main-bg-color: #bccad6;
}

html, body {
    text-align: center;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.container header {
    padding-top: 30px;
}

.list-group {
    max-height: 400px;
    overflow: auto;
}

.container .form-check {
    text-align: left;
}

.container .badge-button {
    cursor: pointer;
}
